@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#app {
  font-family: "Roboto", sans-serif;
  /* max-width: 1280px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  min-height: 100vh;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

#app .header {
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* User Input */
#app .user-input {
  padding: 1rem 2rem;
  float: left;
  display: block;
}

#app .user-input .year-input {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#app .user-input .mui-input {
  width: 230px;
} 

#app .user-input .btn {
  padding-top: 2rem;
}

#app .user-input .map-bar {
  padding-top: 2rem;
  padding-bottom: 68rem;
}

/* Loading */
#app .loader {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app .loader .loading-text {
  color: white;
  font-size: 1.75rem;
  display: block;
  margin-top: 0.75rem;
  font-weight: bold;
}

#app .loader .MuiCircularProgress-root {
  width: 85px !important;
  height: 85px !important;
  color: #b3e5fc;
}

/* Info */
#app .user-info {
  width: 700px; 
  height: 50px; 
  padding: 0.5em;
  display: flex;
  align-items: center;
}

/* Map */
#app .map {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

#app .hidden {
  display: none;
}

#app .map svg {
  margin: auto;
}

#app .map svg .scale-text {
  font-size: 0.75rem;
}

#app .map svg .map-g {
  transform: translateX(50px);
}

#app .map svg .country {
  stroke: #bdbdbd;
  stroke-width: 1px;
}

#app .map svg .country:hover {
  fill: #b0bec5;
  cursor: pointer;
}

#app .map svg .map-title {
  font-weight: bold;
}

#app .map svg .map-subheader {
  font-style: italic;
  font-size: 0.75rem;
}

/* Bar chart */
#app .chart-container .tooltip {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#app .chart-container {
  margin-bottom: 2rem;
}

#app .chart-container svg .bar:hover {
  opacity: 0.5;
}

/* Error View */
#app .error-view {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

#app .error-view .error_message {
  width: 80%;
}

#app .error-view .error_message a {
  text-decoration: none;
  color: blue;
}