#app {
  font-family: "Roboto", sans-serif;
  /* max-width: 1280px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  min-height: 100vh;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

#app .header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app .table_btn {
  align-items: center;
  bottom: 4rem;
  right: 2rem;
}

/* User Input */
#app .user-input {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 1rem 2rem;
  float:left;
  display:block;
}

#app .user-input .year-input {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

#app .mui-input {
  width: 250px;
  padding-top: 2rem;
} 

#app .user-input .btn {
  display: flex;
  align-items: baseline;
  /* gap: 2rem; */
  padding-top: 2rem;
}

/* #app .user-input .nav-left {
  display: flex;
  gap: 3rem;
} */

/* Map */
#app .map {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

#app .hidden {
  display: none;
}

#app .map svg {
  margin: auto;
}

#app .map svg .scale-text {
  font-size: 0.75rem;
}

#app .map svg .map-g {
  transform: translateX(50px);
}

#app .map svg .country {
  stroke: #bdbdbd;
  stroke-width: 1px;
}

#app .map svg .country:hover {
  fill: #b0bec5;
  cursor: pointer;
}

#app .map svg .map-title {
  font-weight: bold;
}

#app .map svg .map-subheader {
  font-style: italic;
  font-size: 0.75rem;
}

/* Bar chart */
#app .chart-container .tooltip {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#app .chart-container {
  margin-bottom: 2rem;
}

#app .chart-container svg .bar:hover {
  opacity: 0.5;
}