#app {
  font-family: "Roboto", sans-serif;
  /* max-width: 1280px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  min-height: 100vh;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

#app .header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app .table_btn {
  align-items: center;
  bottom: 4rem;
  right: 2rem;
}